:root {
    --primary-background: #1e1e2f;
    --secondary-background: #27273f;
    --header: #eab308;
    --primary: #f4f4f5;
    --secondary: #cca5f3;
    --hover: #6400c2;
    --highlight: #5cfff4;
    --header-font: "Uncial Antiqua", system-ui;
    --text-font: "Merriweather", serif;
    --border: 2px solid var(--header);
    --border-radius: 20px;
}

h1,
h2,
h3 {
    color: var(--header);
    font-family: var(--header-font);
}

p {
    color: var(--primary);
    font-family: var(--text-font);
}

body {
    background-color: var(--secondary-background);

}

.body-container {
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--primary-background);
    margin: 1.5rem;
}

.navigation a {
    font-family: var(--text-font);
    color: var(--secondary);
    text-decoration: none;
}

.navigation a.active {
    text-decoration: wavy underline;
    color: var(--header);
    font-family: var(--header-font);
}